﻿@model AvivaTest.Models.FizzBuzzModel

@{
    ViewBag.Title = "FizzBuzz Application";
}
<h2>Input Screen</h2>
@using (Html.BeginForm("FizzBuzzView", "FizzBuzz"))
{
    <div>
        <fieldset>    
            <table>
                <tr>
                    <td><div class="editor-label">
                            @Html.LabelFor(m => m.Number)
                        </div> 
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Number)
                            @Html.ValidationMessageFor(m => m.Number)
                        </div>
                    </td>
                    <td><input type="submit" name="DisplayList" value="Display List" /></td>
                </tr>
            </table>        
        </fieldset>        
    </div>
    
    if (Model.DivisionList != null && Model.DivisionList.Count > 0)
    { 
        string NextButtonDisable        = (Model.Page.PageIndex == Model.Page.PageCount) ? "disabled=\"disabled\"" : string.Empty;
        string PreviousButtonDisable    = (Model.Page.PageIndex == 1) ? "disabled=\"disabled\"" : string.Empty;
        <div>
            <fieldset>
                <table>
                    <tr>
                        <td width="50%">
                            Showing Page <b>@Model.Page.PageIndex</b> of <b>@Model.Page.PageCount</b> Pages
                        </td>
                        <td width="50%" align="right">
                            <input type="submit" name="Previous" value="Previous" id="Previous" @PreviousButtonDisable />
                            <input type="submit" name="Next" value="Next" id="Next" @NextButtonDisable />
                        </td>
                    </tr>
                    @foreach (var number in Model.DivisionList)
                    {
                            <tr>
                                <td colspan="2">
                                    @if(string.IsNullOrEmpty(number.MessageColor)){
                                        <div class="@number">@number.Message</div>
                                }
                                else{
                                        <div style="color:@number.MessageColor" class="@number">@number.Message</div>
                                }
                                </td>
                            </tr>
                    }
                </table>
            </fieldset>  
                <br />
        </div>
    }
}

